<div id="flashes">
    <div>
        {{ flash::LOG_IN_FILE_FOUND::flash.html }}
    </div>
    <div>
        {{ flash::ROUTE_ACCESS_FOUND::flash.html }}
    </div>
    <div>
        {{ flash::INCLUDE_FOUND::flash.html }}
    </div>
    <div>
        {{ flash::UPLOAD_FOUND::flash.html }}
    </div>
    <div>
        {{ flash::FORCE_BRUTE::flash.html }}
    </div>
    <div>
        {{ flash::FULL_PATH_DISCLOSURE_FOUND::flash.html }}
    </div>
    <div>
        {{ flash::failure::error.html }}
    </div>
    <div>
        {{ flash::account_created::success.html }}
    </div>
</div>